/*

Template 2098 Health

http://www.tooplate.com/view/2098-health

*/

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

  body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: inherit;
  }

  h1,h2,h3,h4 {
    letter-spacing: -1px;
  }

  h5 {
    font-weight: 500;
  }

  h1 {
    color: #252525;
    font-size: 5em;
  }

  h2 {
    color: #212165;
    font-size: 3em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 0;
  }

  h4 {
    color: #ffffff;
    font-size: 1.8em;
    padding-bottom: 2px;
  }

  h6 {
    letter-spacing: 0;
    font-weight: normal;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }


  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a:hover, a:active, a:focus {
    color: #00ACDE;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 20px;
    padding-left: 13px;
  }

  .section-title h2 {
    margin-top: 0;
  }

  .section-btn {
    background: #a5c422;
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: inherit;
    font-weight: 500;
    padding: 14px 20px;
    transition: transform 0.1s ease-in;
    transform: translateX(0);
  }

  .section-btn:hover {
    transform: translateY(-5px);
  }

  .text-align-right {
    text-align: right;
  }

  .text-align-center {
    text-align: center;
  }

  .border-top {
    
    margin-top: 4em;
    padding-top: 2.5em;
    background-color: #151556;
  }
/*--border-top: 1px solid #f2f2f2;--*/
  .btn-red{
    background: #E30E20;
  }
  .btn-red:hover{
    color: #E30E20;
    background: #fff;
  }
  .btn-blue {
    background: #212165;
  }
  .btn-blue:hover 
  {
    color: #212165;
    background: #fff;
  }
  .btn-celeste{
    background: #00ACDE;
  }
  .btn-celeste:hover 
  {
    color: #00ACDE;
    background: #fff;
  }
  .news-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  .news-thumb img {
    border-radius: 10px 10px 0 0;
  }

  .news-info {
    padding: 30px;
    text-align: left;
  }
  .news-info span {
    display: block;
    letter-spacing: 0.5px;
  }
  .news-info h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .news-info a{
    color: #212165;
  }
  .news-info a:hover{
    color: #00ACDE;
  }
  .author {
    border-top: 1px solid #f0f0f0;
    padding-top: 1.5em;
    margin-top: 2em;
  }
  .author img,
  .author .author-info {
    display: inline-block;
    vertical-align: top;
  }
  .author-info h5 {
    margin-bottom: 0;
  }
  .author img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }


  #about, #team, #news,
  #news-detail {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #news, #service {
    text-align: center;
  }

  #google-map {
    line-height: 0;
    margin: 0;
    padding: 0;
  }


  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow:  nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 4px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 4px solid #E30E20;
    border-top-color: #212165;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/
 #iconwsp{
  padding-right: 5px;
  font-size: 20px;
 }
  #icon-1{
    padding-right: 5px;
    padding-bottom: 2px;
  }
  #icon-2{
    padding-right: 5px;
    padding-bottom: 7px;
  }
  header {
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    height: 45px;
  }

  header .col-md-8 {
    padding-right: 0;
  }

  header p,
  header span {
    font-size: 12px;
    line-height: 24px;
    padding-top: 12px;
  }

  header a,
  header span {
    color: #747474;
  }

  header span {
    font-weight: 500;
    display: inline-block;
    padding: 11px 15px;
  }

  header span.date-icon {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding-right: 19px;
    padding-left: 19px;
  }

  header span i {
    color: #a5c422;
    margin-right: 5px;
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/
  .pad {
    padding-top: 15px;}

  .navbar-default {
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,.075);
    border: none;
    margin-bottom: 0;
    padding: 10px;
  }

  .navbar-default .navbar-brand {
    color: #393939;
    font-weight: 500;
  }

  .navbar-default .navbar-brand .fa {
    color: #a5c422;
  }

  .navbar-default .navbar-nav li.appointment-btn {
    margin: 3px 0 0 20px;
  }

  .navbar-default .navbar-nav li.appointment-btn a {
    background: #212165;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 17px;
  }

  .navbar-default .navbar-nav li.appointment-btn a:hover {
    background: #00ACDE;
    color: #ffffff !important;
  }

  .navbar-default .navbar-nav li a {
    color: #212165;
    font-size: 15px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .navbar-default .navbar-nav > li a:hover {
    color: #00ACDE !important;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #00ACDE;
    background-color: transparent;
  }
  /*--COLOR:#555555--*/

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #00ACDE;
    background-color: transparent;
  }

.navbar-default .navbar-toggle {
    border: none;
    padding-top: 25px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #212165;
    border-color: transparent;
    width: 25px;
    height: 3px;
  }
#rojito{
  background: #E30E20;
}
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus { 
    background-color: transparent;
  }



  /*---------------------------------------
      HOME              
  -----------------------------------------*/

  #home h1 {
    color: #ffffff;
    padding-bottom: 10px;
    margin-top: 0;
    line-height: 70px;
  }

  #home h3 {
    color: #212165;
    font-size: 14px;
    font-weight: bolder;
    line-height: inherit;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    
  }

  .slider .container {
    width: 100%;
  }

  .slider .owl-dots {
      position: absolute;
      top: 575px;
      width: 100%;
      justify-content: center;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    border: 2px solid #d9d9d9;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
    border-color: transparent;
  }

  .slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
  }

  .slider .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }

  .slider .item-first {
    background-image: url(../images/doctora.jpg);
  }

  .slider .item-second {
    background-image: url(../images/manos.jpg);
  }

  .slider .item-third {
    background-image: url(../images/doctor1.jpg);
  }


  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/


  #bvn{
    line-height: 45px;
  }
  #cajaazul{
    background-color: #212165;
    padding-bottom: 50px;
    cursor: auto;
  }
  #cajaazul h3{
    color: #ffffff;
    display: inline-block;
    padding-left: 5px;
  }
  #cajaazul p{
    padding-top: 10px;
  }
  #cajaazul p,#cajaazul a{
    color: #8282de;
  }
  #cajaroja{
    background-color: #E30E20;
    padding-bottom: 50px;
    cursor: auto;
  }
  #cajaroja h3{
    color: #ffffff;
    display: inline-block;
    padding-left: 5px;
  }
  #cajaroja p{
    padding-top: 10px;
  }
  #cajaroja p,#cajaroja a{
    color: #ef9ca3;
  }

  #about {
    background: url('../images/doctora2.jpg') no-repeat top center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .profile img,
  .profile figcaption {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
  }
  .profile img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    margin-right: 1em;
  }
  .profile figcaption h3 {
    margin-top: 0;
  }

  #about h6 {
    color: #858585;
    margin: 0;
  }



  /*---------------------------------------
      TEAM MEMBERS              
  -----------------------------------------*/

  .team-thumb {
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    cursor: auto;
  }

  .team-info {
    padding: 20px 30px 0 30px;
  }

  .team-contact-info {
    border-top: 1px solid #e9e9e9;
    padding-top: 1.2em;
    margin-top: 1.5em;
  }

  .team-contact-info .fa {
    margin-right: 5px;
    display: inline-block;
  }

  .team-contact-info p {
    margin-bottom: 2px;
  }

  .team-contact-info a {
    color: #757575;
  }

  .team-thumb .social-icon li {
    font-weight: 500;
  }

  .team-thumb .social-icon li a {
    background: #ffffff;
    border-radius: 100%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 2px 0 2px;
  }

  .team-thumb .social-icon {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
    text-align: center;
    position: relative;
    top: 0;
  }

  .team-thumb:hover .social-icon {
    opacity: 1;
    transition-delay: 0.3s;
    transform: translateY(0px);
    top: -22em;
  }
  .iconarea{
    display: inline;
    padding-bottom: 10px;
  }


  /*---------------------------------------
     SERVICE              
  -----------------------------------------*/

  #service {
    background: #a5c422;
  }

  #service h2,
  #service h4 {
    color: #ffffff;
  }

  #service p {
    color: #d9d9d9;
  }

  #service .service-thumb {
    padding: 0 22px;
  }

  #service .fa {
    font-size: 50px;
    margin-bottom: 10px;
    background: #ffffff;
    color: #a5c422;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 100%;
  }


  /*---------------------------------------
      NEWS             
  -----------------------------------------*/
  
  #news{
    
    background:linear-gradient(to bottom, #00e0ce, #00a1f2);

    background-size: cover;
  }
  #news-detail{
  background: #f5f5f5;}
  #news-detail h4{
    color:#00ACDE;
  }
  
  #news-detail blockquote {
    margin: 30px 0;
    border-left: 6px solid #e30e20;
    color: #212165;
  }

  .news-detail-thumb .news-image img {
    border-radius: 10px;
  }

  .news-detail-thumb h3 {
    margin-bottom: 8px;
  }

  .news-image {
    margin-bottom: 30px;
    position: relative;
  }

  .news-image img {
    width: 100%;
  }

  .news-detail-thumb ul {
    margin: 32px 12px 22px 0px;
  }

  .news-detail-thumb ul li {
    list-style: circle;
    font-weight: normal;
    padding: 6px 12px 6px 0px;
  }

  .news-sidebar {
    margin-top: 16px;
  }

  .news-social-share {
    text-align: left;
    padding-top: 22px;
  }

  .news-social-share .btn {
    border-radius: 100px;
    border: none;
    font-size: 10px;
    font-weight: 600;
    margin: 2px 6px;
    padding: 8px 14px;
  }

  .news-social-share .btn-primary {
    background: #3b5998;
  }

  .news-social-share .btn-success {
    background: #1da1f2;
  }

  .news-social-share .btn-danger {
    background: #000;
  }

  .news-social-share a .fa {
    padding-right: 4px;
  }

  .recent-post {
    padding-top: 2px;
    padding-bottom: 18px;
  }

  .recent-post .media img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-right: 5px;
  }

  .recent-post .media-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
    margin-top: 5px;
  }

  .news-categories {
    margin-top: 8px;
  }

  .news-categories li a {
    color: #2b2b2b;
  }

  .news-ads {
    background: no-repeat center/100% url('../images/ads.jpg');
   /*--border-right: 4px solid #2b2b2b;--*/
    padding: 42px;
    text-align: center;
    margin: 26px 0 26px 0;
    width: 100%;
    height: 300px;
  }

  .news-ads.sidebar-ads {
    /*--border-left: 4px solid #2b2b2b;--*/
    border-right: 0px;
  }

  .news-ads h4 {
    font-size: 18px;
  }

  .news-tags h4 {
    padding-bottom: 6px;
  }

  .news-categories li,
  .news-tags li {
    list-style: none;
    display: inline-block;
    margin: 4px;
  }

  .news-tags li a {
    background: #8282de;
    border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    float: left;
    min-width: 30px;
    padding: 6px 12px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .news-tags li a:hover {
    background: #fff;
    color: #212165;
  }
.news-detail-thumb p{
  color: #757575;
}

/*---------------------------------------
      NEWS DETAIL             
  -----------------------------------------*/
.left{
  float: left;
  padding: 0;
  width: 50%;
  border-radius: 10px;
  margin-right: 12px;
  margin-top: 8px;
}

.right{
  width: 50%;
  float: right;
  margin: 0px 9px 0px 9px;
  border-radius: 20px;
}

.media h4{
  padding-top: 10px;
}


.media-heading a{
  color: #212165;
}
.news-detail-thumb h2{
  line-height: 5rem;
}

.news-detail-thumb span{
  display: inline-block;
}
  /*---------------------------------------
      APPOINTMENT             
  -----------------------------------------*/

  .form-control {
    color: #a1a2a2;}
  #appointment {
    padding-top: 100px;
  }

  #appointment label {
    color: #212165;
    font-weight: 500;
  }

  #appointment .form-control {
    background: #F5FDFF;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
  }

  #appointment input,
  #appointment select {
    height: 45px;
  }

  #appointment button#cf-submit {
    background: #E30E20;
    color: #ffffff;
    font-weight: 600;
    height: 55px;
  }

  #appointment button#cf-submit:hover {
    background: #53cdf1;
    color: #ffffff;
  }
  #subti{
    margin: 0;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    color: #00ACDE;
  }
  #text1{
    margin: 0;
  }

  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/
#espace{
  margin-bottom: 20px;
 }

 #content{
  width: 100%;
  display: block;
  margin-top: 0px;
  padding-left: 90px;
  padding-bottom: 20px;
 }

  
  .textfooter p {
    color: #8282de;
  }
  p#telefone {
    color: #ffffff;
  }
  footer {
    padding-top: 80px;
    background-color: #212165;
  }
  /*--padding-bottom: 40px;--*/

  footer h4 {
    padding-bottom: 5px;
  }

  footer a {
    color: #ffffff;
  }

  footer a:hover {
    color: #00ACDE;
  }

  .contact-info {
    padding-top: 10px;
  }

  .contact-info .fa {
    background: #E30E20;
    border-radius: 100%;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  .latest-stories {
    margin-bottom: 20px;
  }

  .stories-image,
  .stories-info {
    display: inline-block;
    vertical-align: top;
  }

  .stories-image img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
  }

  .stories-info {
    margin-left: 15px;
  }

  .stories-info h5 {
    margin-bottom: 2px;
  }

  .stories-info span {
    color: #858585;
    font-size: 12px;
  }

  .opening-hours p {
    line-height: 18px;
  }

  .opening-hours span {
    font-weight: 500;
    display: inline-block;
    padding-left: 10px;
  }

  .copyright-text p,
  .footer-link a {
    color: #8282de;
    font-size: 12px;
    font-weight: 500;
  }

  .copyright-text a{
    color: #8282de;
  }
  .copyright-text a:hover {
    color: #F0E91C;
  }

  .footer-link a {
    font-size: 12px;
    display: inline-block;
    padding: 0 10px 5px;
    margin-top: 4px;
  }

  .angle-up-btn {
    position: relative;
    bottom: 4em;
    display: block;
  }

  .angle-up-btn a {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    font-size: 23px;
    color: #E30E20;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 35px;
    transition: transform 0.1s ease-in;
    transform: translateX(0);
  }

  .angle-up-btn a:hover {
    background: #212165;
    color: #ffffff;
    transform: translateY(-5px);
  }


  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #8282de;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon li a:hover {
    background: #53cdf1;
    color: #212165;
  }

    /*---------------------------------------
     PRÓXIMAMENTE           
  -----------------------------------------*/

  #msn{
    width: 50px;
    height: auto;
  }

  #prox br{
    display: none;
  }

  /*---------------------------------------
     POLITICAS DE LA WEB          
  -----------------------------------------*/
  #subti2{
    color: #757575;
  }
  
  #pol br{
    display: none;
  }

  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
    }

    header {
      height: inherit;
    }
    header span.date-icon {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
    header span.email-icon {
      padding-top: 0;
    }

    .navbar-default .navbar-nav li a {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media only screen and (max-width: 992px) {
    .slider .item {
      background-position: center;
    }

    header {
      padding-bottom: 10px;
    }
    header .text-align-right {
      text-align: left;
    }
    header span {
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent;
    }
    .navbar-default .navbar-nav li.appointment-btn {
      margin-right: 15px;
      float:  right;
    }
    .navbar-default .navbar-nav li a {
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .navbar-nav {
      margin-top: 0;
    }

    .news-sidebar {
      margin-top: 2em;
    }

    #appointment-form {
      padding-top: 4em;
      padding-bottom: 4em;
    }
    .angle-up-btn a{
    position: absolute;
    right: 10px;
    bottom: 0.1rem;

  }
    #about{
     background-position-x: 57%;
    background-position-y: 100%;
    background-size: 900px;
    background-color: #f5f5f5; }
  .parrafo p {
      padding-right: 100px;
    }
    footer {
      padding-top: 60px;
      padding-bottom: 0;
    }
    .footer-thumb {
      padding-bottom: 10px;
    }

    .border-top {
      text-align: center;
    }

    .copyright-text {
      margin-top: 10px;
    }

    .angle-up-btn {
      bottom: 10em;
    }
   #cajaazul{
    padding-bottom: 40px;
   }
   #cajaroja{
    padding-bottom: 40px;
   }
   .team-thumb {
    margin-bottom: 20px;
   }
   .profile figcaption {
    display: block;
   }
   #content{
    padding-left: 0px;
   }
   #content span{
    display: block;
   }
   .slider .item-first {

    background-position-x:70% ;
   }
   .news-thumb {
    margin-bottom: 20px;
   }
   #text1 br{
    display: none;
   }

   .left{
  float: left;
  width: 100%;
  border-radius: 10px;
  margin: 0 0 10px 0;
  }
  .parr{
  padding: 0;
    }
.news-social-share {
    text-align: center;}

.news-detail-thumb h2 {
    line-height: 4rem;
}

#prox br{
    display: inline-block;
  }

  @media only screen and (max-width: 639px) {
    #home h1{
      line-height: 1.2em;
    }

    #bvn {
      line-height: 1.2em;
    }
    h1 {
      font-size: 3em;
      line-height: 1.2em;
    }
    h2 {
      font-size: 2.1em;
    }
    h4 {
      font-size: 1.4em;
    }

    #home h3 {
      font-size: 11px;
      letter-spacing: 1px;
    }

  }

